# {{ ansible_managed }}
# Allow kube-apiserver to reach cert-manager webhook (for admission webhooks)
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-apiserver-webhook
  namespace: cert-manager
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/component: webhook
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - protocol: TCP
          port: 10250
        - protocol: TCP
          port: 443
---
# Allow kube-apiserver to reach kyverno admission controller webhook
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-apiserver-webhook
  namespace: kyverno
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/component: admission-controller
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - protocol: TCP
          port: 9443
        - protocol: TCP
          port: 443
