---
- name: Create RKE2 config directory
  ansible.builtin.file:
    path: /etc/rancher/rke2
    state: directory
    owner: root
    group: root
    mode: "0755"
  become: true

- name: Template RKE2 config
  ansible.builtin.template:
    src: rke2-config.yaml.j2
    dest: /etc/rancher/rke2/config.yaml
    owner: root
    group: root
    mode: "0640"
  become: true
  notify: rke2 config changed

- name: Template audit policy
  ansible.builtin.template:
    src: audit-policy.yaml.j2
    dest: /etc/rancher/rke2/audit-policy.yaml
    owner: root
    group: root
    mode: "0640"
  become: true
  when: inventory_hostname in groups['rke2_servers'] and rke2_audit_enabled | default(false) | bool
  notify: rke2 config changed

- name: Install RKE2
  ansible.builtin.shell: |
    curl -sfL https://get.rke2.io | INSTALL_RKE2_VERSION={{ rke2_version }} sh -
  args:
    creates: /usr/local/bin/rke2
  become: true
